<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Holis to <%= title %>
  </p>
  <br>
  <p>HOLA  es una plataforma de alojamiento de repositorios de código fuente basada en la nube,
    que ofrece control de versiones distribuido y colaboración en equipos de desarrollo. Fue creado en
    2008 por Atlassian, una compañía
    australiana de software que se centra en el desarrollo de software de colaboración. A continuación,
    exploraremos algunas características clave de esta herramienta.</p>

  <h2>Control de versiones y colaboración</h2>

  <p>Bitbucket permite a los desarrolladores trabajar de forma colaborativa en proyectos de software. Proporciona un
    sistema de control de versiones que permite rastrear cambios en el código fuente y mantener un historial completo de
    revisiones. Los equipos pueden trabajar de manera sincronizada y gestionar conflictos de manera eficiente.</p>
  <img src="https://www.devopsschool.com/blog/wp-content/uploads/2020/05/how-bitbucket-works.png" alt="Imagen 2"
    width="400">

  <h2>Ventajas de Bitbucket</h2>

  <ul>
    <li>Integración estrecha con el ecosistema de herramientas de Atlassian, como JIRA y Trello.</li>
    <li>Capacidad para alojar repositorios privados de forma gratuita, lo que permite proyectos de código cerrado.</li>
    <li>Integración con sistemas de implementación continua y servicios de compilación, como Bamboo.</li>
    <li>Control de permisos y gestión de accesos avanzada.</li>
    <li>Autenticación de dos factores para una mayor seguridad.</li>
  </ul>

  <h2>Desventajas de Bitbucket</h2>

  <ul>
    <li>La interfaz de usuario puede ser menos intuitiva en comparación con otras plataformas similares.</li>
    <li>Las opciones de personalización son más limitadas en comparación con algunas alternativas.</li>
    <li>La velocidad de carga y respuesta puede verse afectada en ocasiones durante períodos de alto tráfico.</li>
  </ul>

  <h2>Creación de repositorios y planes</h2>

  <p>Para crear un repositorio en Bitbucket, simplemente debes iniciar sesión en tu cuenta y seguir los pasos indicados
    en la interfaz. Bitbucket ofrece diferentes planes, que varían según las necesidades de tu proyecto. Los planes
    pueden incluir opciones de almacenamiento, usuarios permitidos y características adicionales, como la integración
    con otras herramientas. Puedes consultar los detalles y precios de los planes en la <a
      href="https://www.atlassian.com/software/bitbucket/pricing">página de precios de Bitbucket</a>.</p>

  <h2>Integraciones populares</h2>

  <ul>
    <li><a href="https://www.atlassian.com/software/jira">JIRA</a> - Herramienta de seguimiento de problemas y gestión
      de proyectos.</li>
    <li><a href="https://www.atlassian.com/software/bamboo">Bamboo</a> - Servidor de integración continua y entrega
      continua.</li>
    <li><a href="https://trello.com/">Trello</a> - Aplicación de gestión de proyectos basada en tableros.</li>
  </ul>
  <img
    src="https://wac-cdn.atlassian.com/dam/jcr:370bf2ff-1434-4294-befb-d60663a1b822/bitbucket-pipelines-header.png?cdnVersion=1078"
    alt="Imagen 1" width="400">

  <h2>Recursos adicionales</h2>

  <ul>
    <li><a href="https://www.atlassian.com/git/tutorials/what-is-bitbucket">Guía de inicio rápido de Bitbucket</a></li>
    <li><a href="https://www.atlassian.com/bitbucket">Página oficial de Bitbucket</a></li>
    <li><a href="https://confluence.atlassian.com/bitbucket">Documentación de Bitbucket</a></li>
    <li><a href="https://www.youtube.com/live/AOnMg50-ttE?feature=share">Video Tutorial</a></li>
    <video controls width="400">
      <source src="https://www.youtube.com/live/AOnMg50-ttE?feature=share" type="video/webm">
    </video>

  </ul>

  <h2>Conclusión</h2>

  <p>
    Bitbucket es una herramienta poderosa y versátil para la gestión de repositorios de código. Su capacidad de control
    de versiones, colaboración, integración con otras aplicaciones y opciones de seguridad lo convierten en una opción
    atractiva para equipos de desarrollo de software.
  </p>

  <p>¡Explora más sobre Bitbucket y descubre cómo esta herramienta puede mejorar tu flujo de desarrollo de software!</p>
</body>

</html>